body{
  height: 100%;
}
.body{
  height: 100%;
}
.background{
  height: 800px;
  width: 100%;
}
.loginblock{
  width: 28rem ;
  height: 30rem;
  background: WHITE;
  position: absolute;
  top: 10rem;
  right:  15rem;
  z-index: 100;
  border-radius: 1rem;
}
.text{
  font-size: 1.5rem;
  font-weight: bold;
  
  margin-left: 2rem;
}
